<a href="https://colab.research.google.com/github/KyleSmartin98/GraildScraper/blob/main/grailedscraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Run to Install Libraries & Dependencies Before Running Scraper
%%capture
#Install all libraries 
!pip install beautifulsoup4
#!pip install requests_html 
!pip install kora -q

In [ ]:
#@title Grailed Scraper Proof of Concept
url = "https://www.grailed.com/sold/sQESTzLsvQ" #@param {type:"string"}
New_CSV = "Sold_RO_Hightop_Sneaker.csv" #@param {type:"string"}

In [ ]:
#@title Double Click to View Code 

from kora.selenium import wd
import time
import csv
import pandas as pd

wd.get(url)

scroll_count = round(200 / 40) + 1
for i in range(scroll_count):
    wd.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(2)

time.sleep(3)

titles = wd.find_elements_by_css_selector("p.listing-title")
prices = wd.find_elements_by_css_selector("p.sub-title.sold-price")
sizes = wd.find_elements_by_css_selector("p.listing-size.sub-title")
sold = wd.find_elements_by_css_selector("span.date-ago")

data = [titles, prices, sizes, sold]

data = [list(map(lambda element: element.text, arr)) for arr in data]

with open(New_CSV, 'w') as file:
    writer = csv.writer(file)
    j = 0
    while j < len(titles):
        row = []
        for i in range(len(data)):
            row.append(data[i][j])
        writer.writerow(row)
        j += 1
df = pd.read_csv(New_CSV, names = ['Title', 'Sold Price', 'Size', 'Sold Date'])
df.to_csv(New_CSV)
!cp #*file name* "drive/My Drive/" #Must rename to file here to save in google drive.
df

cp: missing file operand
Try 'cp --help' for more information.

                                                 Title  ...                Sold Date
0                             Island dunks black suede  ...    Sold about 1 hour ago
1    Rick Owens Drkshdw Contrast Stitch high top sn...  ...  Sold about 11 hours ago
2            Rick Owens Mastodon High Leather Sneakers  ...  Sold about 12 hours ago
3                                   Rick Owens Ramones  ...  Sold about 15 hours ago
4     rick Owens mainline boots size 37.5 us women 7.5  ...  Sold about 16 hours ago
..                                                 ...  ...                      ...
275  Rick Owens X Birkenstock black ROTTERDAM boots...  ...         Sold 26 days ago
276            (35)Rick owens drkshdw high ramones(35.  ...         Sold 26 days ago
277                                       Ramones High  ...         Sold 26 days ago
278                          Rick Owens Ramone High 41  ...         Sold 26 days ago
279           (36 Rick owens drkshdw double bumper(36)  ...         Sold 26 days ago

[280 rows x 4 columns]